body{
    background-image: url("../../assets/images/background2.2.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    text-align: center;
    line-height: 60px;
}

h1{
    font-size: 55px;
    font-weight: bold;

}

#timer{
    font-size: 35px;


}
#form{
    display: block; 
    position: static;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    width: 40%;
    margin: auto;
}
#question1, #question2, #question3 {
    font-size: 25px;
    line-height: 55px;


}